<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1 class="text-center">Music Generation</h1>

    <form class="text-center" action="/" , method="post">
      <label for="input-sequence">Sequence:</label>
      <input
        type="text"
        id="input-sequence"
        name="input-sequence"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    {% if prediction %}
    <p class="text-center">{{prediction}}</p>
    {% endif %}
  </body>
</html>
